<script defer src="/efect.js"></script>
<div
  style="display: flex;justify-content: space-around; flex-wrap: wrap; height:100vh; margin-top: 2rem;"
>
  <div
    class="card text-center bg-secondary shadow-sm"
    style="width: 22vw; height: 50vh"
  >
    <img src="/img/packet1.png" class="card-img-top" alt="..." />
    <div class="card-footer">
      <h5 class="card-title">Пакет Лайт</h5>
      <p class="card-text">Фотосьемка 2 часа профессиональный фотограф.</p>
      <a href="#" class="btn btn-primary">Приобрести</a>
    </div>
  </div>
  <div
    class="card text-center bg-secondary shadow-sm"
    style="width: 22vw; height: 50vh"
  >
    <img src="/img/packet2.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Пакет Оптима</h5>
      <p class="card-text">Фотосьемка 4 часа профессиональный фотограф.</p>
      <a href="#" class="btn btn-primary">Приобрести</a>
    </div>
  </div>
  <div
    class="card text-center bg-secondary shadow-sm"
    style="width: 22vw; height: 50vh"
  >
    <img src="/img/packet3.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Пакет Супер</h5>
      <p class="card-text">Фотосьемка 8 часов профессиональный фотограф.</p>
      <a href="#" class="btn btn-primary">Приобрести</a>
    </div>
  </div>
  <div
    class="card text-center bg-secondary shadow-sm"
    style="width: 22vw; height: 50vh"
  >
    <img src="/img/packet4.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Пакет СуперПупер</h5>
      <p class="card-text">Фотосьемка 16 часов профессиональный фотограф.</p>
      <a href="#" class="btn btn-primary">Приобрести</a>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-5" style="height:100vh">
  <form style="width: 50vw" name="signinForm">

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">услуга</label>
    </div>
    <div class="d-flex justify-content-between">

      <button type="submit" class="btn btn-primary">Войти</button>
    </div>
  </form>

</div>
<div style = "display: flex;justify-content: space-around; flex-wrap: wrap;">
  <h1
</div>
