<script defer src="/efect.js"></script>
<div>
<div
  style="display: flex;justify-content: space-around; flex-wrap: wrap; margin-top: 2rem;"
>
  <div
    class="card text-center bg-secondary shadow-sm"
    style="width: 22vw; height: 400px"
  >
    <img src="/img/packet1.png" class="card-img-top" alt="..." />
    <div class="card-footer">
      <h5 class="card-title">Пакет Лайт</h5>
      <p class="card-text">Фотосьемка 2 часа профессиональный фотограф.</p>
      <a href="#" class="btn btn-primary">Приобрести</a>
    </div>
  </div>
  <div
    class="card text-center bg-secondary shadow-sm"
    style="width: 22vw; height: 400px"
  >
    <img src="/img/packet2.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Пакет Оптима</h5>
      <p class="card-text">Фотосьемка 4 часа профессиональный фотограф.</p>
      <a href="#" class="btn btn-primary">Приобрести</a>
    </div>
  </div>
  <div
    class="card text-center bg-secondary shadow-sm"
    style="width: 22vw; height: 400px"
  >
    <img src="/img/packet3.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Пакет Супер</h5>
      <p class="card-text">Фотосьемка 8 часов профессиональный фотограф.</p>
      <a href="#" class="btn btn-primary">Приобрести</a>
    </div>
  </div>
  <div
    class="card text-center bg-secondary shadow-sm"
    style="width: 22vw; height: 400px"
  >
    <img src="/img/packet4.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Пакет СуперПупер</h5>
      <p class="card-text">Фотосьемка 16 часов профессиональный фотограф.</p>
      <a href="#" class="btn btn-primary">Приобрести</a>
    </div>
  </div>
  


</div>
<div class="text-white" style="text-align: center; margin-top: 1rem"><h2>создайте свой пакет</h2></div>

<div style="display: flex;justify-content:center;">

  <form action="/service" style="width: 90vw" name="serviceForm" method="POST">

<div style="display: flex;justify-content: space-around; flex-wrap: wrap;">
  {{#each serv}}
    <div style="background-color: gray; width: 10vw; minheight: 5vw; margin: 10px;display:flex; flex-direction:column; align-items: center">
      <input type="checkbox" class="form-check-input" name ="{{this.name}}" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">{{this.name}}</label>
      <label class="form-check-label" for="exampleCheck1">Цена {{this.price}} т.р</label>
    </div>
  {{/each}}
   




</div>

    
    <div style="display:flex; justify-content: center">
      <button type="submit" class="btn btn-primary btn-sm">Создать и купить</button>
    </div>

  </form>

</div>

<br>
<br>
<br>
<br>

</div>

{{!-- <div class="d-flex justify-content-center mt-5" style="height:100vh">


</div> --}}

